#banner p{
  font-size: 20px;
}

@media (min-width: 600px) {
  #banner p{
    font-size: 30px;
  }

@media (min-width: 800px) {
  #banner p{
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  #banner p{
    font-size: 50px;
  }
}
}

#banner h1{
  font-size: 40px;
}

@media (min-width: 600px) {
  #banner h1{
    font-size: 60px;
  }

@media (min-width: 800px) {
  #banner h1{
    font-size: 80px;
  }
}

@media (min-width: 1200px) {
  #banner h1{
    font-size: 100px;
  }
}
}



#banner {
	color:$gray-dark;
	height: 680px;	
	width: 100%;
	background-image:image-url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding-top: 200px;

}


#banner h1, p, button {

  margin-left: 25px;
}


.plan {
	background-image: image-url("logo.svg");
	height: 250px;
}


.testimonial {
	background: white;
	padding: 40px;
	margin: 40px;
	box-shadow: 1px 1px 3px #cac9c9;


}

.fleche0 {
	font-size: 60px;
	color: white;
	position: absolute;
  bottom: 20px;
  text-align: center;
  margin-left: -22px;
} 

.fleche {
  font-size: 60px;
  color: white;
  position: relative;
  bottom: 0px;
  text-align: center;
}

.fleche2 {
	position: relative;
    top: 40px;
    color: $red;
}


h2 {
  font-size: 20px;
}

.hauteur {
  height: 80px;
}

.inscription {

  margin-top:10px;
}
