---
title: Notre Equipe
---
<div  id="plan" class="text-center padded">
<h1>Notre équipe</h1>
<ul class="list-inline padded appearIn">
	<li>
		<%= image_tag "beyonce.jpg" , class:'img-circle'%>
		<h3>Beyoncé</h3>
	</li>
	<li>
		<%= image_tag "ben.jpg" , class:'img-circle'%>
		<h3>Ben</h3>
	</li>
	<li>
		<%= image_tag "bamby.jpg" , class:'img-circle'%>
		<h3>Bamby</h3>
	</li>
</ul>
</div>


